# Prerequisites
*.d

# Visual Studio
.vs/
*.suo
*.user
*.sdf
*.opensdf
*.VC.db
*.VC.opendb

# Build folders
Debug/
Release/
x64/
ipch/

# Executables
*.exe
*.pdb
*.ilk

# Temporary files
*.log
*.tlog
*.obj
*.pch

# Visual Studio Code
.vscode/

# macOS junk
.DS_Store
MyCPPUtils/web/httplib.h
/MyCPPUtils-Dev
NexusCLI/NexusCLI/data/tasks.txt
